<h2 style="text-align: center; color: rgb(177, 12, 12);">List of Batches</h2>

<p>Clik on Batch Name to show Batch Details</p>
<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px;">Batch Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let batchDetail of batches">
      <!-- Student name clickable and navigates to details page -->
      <td style="border: 1px solid black; padding: 8px;">
        <a [routerLink]="['/batchDetails', batchDetail.id]" style="text-decoration: none;color: black;">{{ batchDetail.batch_name }}</a>
      </td>
    </tr>
  </tbody>
</table>
